<div class="header">
  <!-- LEFT -->
  <div>
    <img src="sidebar.jpeg" (click)="toggleSidebar()" alt="">
    <img src="keep.png" alt="">
    <span class="logo">Fundoo</span>
  </div>

  <!-- SEARCH -->
  <div class="search">
    <input type="text" placeholder="Search by title" (input)="onSearch($event)">
  </div>

  <!-- RIGHT -->
  <div class="right-section">
    <img src="refresh.png" alt="" (click)="onRefresh()" [class.rotate]="isRefreshing">
    <img src="gridview.jpeg" alt="">
    <img src="settings.png" alt="">
    <img src="dots.png" alt="">

    <!-- USER ICON + POPUP -->
    <div class="user-section">
      <img src="user.png" alt="user" (click)="toggleProfile()">

      <!-- PROFILE POPUP -->
      <div class="profile-popup" *ngIf="showProfile">

        <div class="email">{{ user.email }}</div>

        <div class="avatar">
          {{ user.name?.charAt(0).toUpperCase() }}
        </div>

        <h3>Hi, {{ user.name }}!</h3>

        <button class="manage-btn">Manage your Account</button>

        <div class="actions">
          <button (click)="addAccount()">Add account</button>
          <button (click)="logout()">Sign out</button>
        </div>

      </div>
    </div>
  </div>
</div>